*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 18px;
}

body{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 850px;
    background-color: var(--tk-background-color-main);
    overflow-x: hidden;
    border: 2px solid blue;

}

main{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

input,
#ik__note__form textarea {
    border: none;
    outline: none;
    background-color: var(--tk-background-color-container);
}

input {
    padding: 10px 40px;
    border-radius: var(--tk-radius-circular);
    box-shadow: var(--tk-shadow-inside);
    background-color: var(--tk-background-color-container);
    transition: box-shadow .4s ease;
}

input:hover {
    box-shadow: var(--tk-shadow-outside);
}

input:focus {
    box-shadow: var(--tk-shadow-outside);
}


