:root{
    
    /*  Task Keeper Custom Properties -----------------------*/
    --tk-shadow-dark: #b9c1ccda;
    --tk-shadow-ligth: #ffffff;
  
    --tk-shadow-container: -10px -10px 20px var(--tk-shadow-ligth),
      10px 10px 20px var(--tk-shadow-dark),
      inset 2px 2px 4px var(--tk-shadow-dark),
      inset -2px -2px 4px var(--tk-shadow-ligth);
  
    --tk-shadow-container-outside: -10px -10px 20px var(--tk-shadow-ligth),
      10px 10px 20px var(--tk-shadow-dark);
  
    --tk-shadow-inside: inset 2px 2px 4px var(--tk-shadow-dark),
      inset -2px -2px 4px var(--tk-shadow-ligth),
      2px 2px 4px transparent,
      -2px -2px 4px transparent;
  
    --tk-shadow-outside: inset 4px 4px 8px transparent,
      inset -4px -4px 8px transparent,
      4px 4px 8px var(--tk-shadow-dark),
      -4px -4px 8px var(--tk-shadow-ligth);
  
    --tk-shadow-both: inset 2px 2px 4px var(--tk-shadow-dark),
      inset -2px -2px 4px var(--tk-shadow-ligth),
      2px 2px 4px var(--tk-shadow-dark),
      -2px -2px 4px var(--tk-shadow-ligth);
  
    --tk-background-color-container: #ececec;
    --tk-background-color-main: #E6E9EF;
  
    --tk-radius-circular: 100px;
    --tk-radius-main: 15px;
  
    --tk-padding-container: 20px;
    --tk-color-main: #0089DC;
}