@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #777777;
  font-size: 18px;
}

body {
  display: flex;
  height: 100vh;
  min-height: 850px;
  background-color: var(--tk-background-color-main);
  overflow-x: hidden;
}

main {
  display: flex;
  width: 100%;
  min-height: 100%;
}

:root {
  /*  Task Keeper Custom Properties -----------------------*/
  --tk-shadow-dark: #b9c1ccda;
  --tk-shadow-ligth: #ffffff;
  --tk-shadow-container: -10px -10px 20px var(--tk-shadow-ligth),
    10px 10px 20px var(--tk-shadow-dark),
    inset 2px 2px 4px var(--tk-shadow-dark),
    inset -2px -2px 4px var(--tk-shadow-ligth);
  --tk-shadow-container-outside: -10px -10px 20px var(--tk-shadow-ligth),
    10px 10px 20px var(--tk-shadow-dark);
  --tk-shadow-inside: inset 2px 2px 4px var(--tk-shadow-dark),
    inset -2px -2px 4px var(--tk-shadow-ligth),
    2px 2px 4px transparent,
    -2px -2px 4px transparent;
  --tk-shadow-outside: inset 4px 4px 8px transparent,
    inset -4px -4px 8px transparent,
    4px 4px 8px var(--tk-shadow-dark),
    -4px -4px 8px var(--tk-shadow-ligth);
  --tk-shadow-both: inset 2px 2px 4px var(--tk-shadow-dark),
    inset -2px -2px 4px var(--tk-shadow-ligth),
    2px 2px 4px var(--tk-shadow-dark),
    -2px -2px 4px var(--tk-shadow-ligth);
  --tk-background-color-container: #ececec;
  --tk-background-color-main: #E6E9EF;
  --tk-radius-circular: 100px;
  --tk-radius-main: 15px;
  --tk-padding-container: 20px;
  --tk-color-main: #0089DC;
}

main .tk__icono__menu__container {
  display: none;
}

.tk__section_menu {
  height: 100%;
}
.tk__section_menu .tk__section_menu__container {
  position: relative;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 250px;
  height: 100%;
  padding: 30px;
  background-color: var(--tk-background-color-container);
  box-shadow: 10px 0px 20px var(--tk-shadow-dark);
}
.tk__section_menu .tk__section_menu__container .tk__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid var(--tk-background-color-container);
  box-shadow: var(--tk-shadow-container);
}
.tk__section_menu .tk__section_menu__container .tk__logo__container img {
  width: 60px;
}
.tk__section_menu .tk__section_menu__container .tk__ideas__priority__container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tk__section_menu .tk__section_menu__container .tk__ideas__priority__container h2 {
  margin-top: 20px;
  font-style: italic;
}
.tk__section_menu .tk__section_menu__container .tk__ideas__priority__container img {
  width: 25px;
}
.tk__section_menu .tk__section_menu__container .tk__ideas__priority__container .tk__note__priority {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.tk__section_menu .tk__section_menu__container .tk__ideas__priority__container button,
.tk__section_menu .tk__section_menu__container .tk__tools__container button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  background-color: var(--background-color-container);
  transition: transform 0.4s ease;
}
.tk__section_menu .tk__section_menu__container .tk__note__priority:hover,
.tk__section_menu .tk__section_menu__container button:hover,
.tk__section_menu .tk__section_menu__container .tk__tools:hover {
  font-weight: 600;
  transform: scale(1.06, 1.06);
}
.tk__section_menu .tk__section_menu__container .tk__tools__container {
  width: 100%;
}
.tk__section_menu .tk__section_menu__container .tk__tools__container .tk__tools {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.tk__section_menu .tk__section_menu__container .tk__tools__container .tk__tools img {
  width: 25px;
}

section.deploy__menu {
  transform: translateX(0%);
}

/* Section Notes ---------------------------------------------------------------*/
#tk__section__notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 700px;
  overflow-y: auto;
}
#tk__section__notes .tk__section__notes__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  height: 100%;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__header__container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__header__container .tk__section__notes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--tk-background-color-container);
  border-radius: var(--tk-radius-main);
  box-shadow: -10px -10px 20px var(--tk-shadow-ligth), 10px 10px 20px var(--tk-shadow-dark);
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__header__container .tk__section__notes__header .tk__section__notes__container__text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__header__container .tk__section__notes__header .tk__section__notes__container__text h1 {
  width: 100%;
  font-size: 30px;
  font-style: italic;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__header__container .tk__section__notes__header .tk__section__notes__container__text p {
  max-width: 550px;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__header__container .tk__section__notes__header .tk__ideas__keeper__image__container {
  width: 150px;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: -80px;
  border-radius: 12px;
  box-shadow: var(--tk-shadow-container-outside);
  transform: rotateZ(25deg);
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__header__container .tk__section__notes__header .tk__ideas__keeper__image__container img {
  width: 100%;
  margin-top: -12px;
  margin-bottom: -4px;
  transform: scale(1.02, 1.02);
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 30px 30px;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: var(--tk-radius-main);
  background-color: var(--tk-background-color-container);
  box-shadow: -10px -10px 20px var(--tk-shadow-ligth), 10px 10px 20px var(--tk-shadow-dark);
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .tk__note__menu__container {
  position: absolute;
  top: 0px;
  right: 0px;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .tk__note__menu__container .tk__note__menu__image {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  z-index: 1;
  cursor: pointer;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .tk__note__menu__container .tk__note__menu__image img {
  width: 100%;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .tk__note__menu__container .tk__note__menu__container__button__image {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 0px;
  height: 0px;
  padding: 0px;
  border-radius: 8px;
  background-color: var(--tk-background-color-container);
  overflow: hidden;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .tk__note__menu__container .tk__note__menu__container__button__image button {
  width: 100%;
  border: none;
  text-align: left;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.4s ease;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .tk__note__menu__container .tk__note__menu__container__button__image button:hover {
  transform: scale(1.1, 1.1);
  font-weight: 600;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .tk__note__menu__container .deploy__note__menu {
  width: 120px;
  height: 65px;
  padding: 0 12px;
  box-shadow: var(--tk-shadow-outside);
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .deploy__container__note__menu {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: var(--tk-radius-main);
  backdrop-filter: blur(8px);
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .ik__container__title {
  width: 100%;
  font-style: italic;
  font-weight: 700;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .ik__note__pririty__done__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .ik__note__pririty__done__container .ik__p__priority {
  padding: 6px 20px;
  border-radius: var(--tk-radius-circular);
  background-color: rgb(250, 171, 0);
  font-style: italic;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .ik__note__pririty__done__container .ik__work__done {
  border: none;
  outline: none;
  padding: 8px 20px;
  font-style: italic;
  font-weight: 600;
  border-radius: var(--tk-radius-circular);
  box-shadow: var(--tk-shadow-inside);
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}
#tk__section__notes .tk__section__notes__container .tk__section__notes__container__notes .tk__note__container .ik__note__pririty__done__container .ik__work__done:hover {
  box-shadow: var(--tk-shadow-outside);
}

/* Section USER INFO -----------------------------------------------------------*/
.tk__icono__user__info__container {
  display: none;
}

.tk__section__user__info__container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 250px;
  height: 100%;
  padding: 20px;
  background-color: var(--tk-background-color-container);
  box-shadow: -10px 0px 20px var(--tk-shadow-dark);
}
.tk__section__user__info__container .tk__user__container {
  margin: 0 auto;
  text-align: center;
}
.tk__section__user__info__container .tk__user__container .tk__user__logo {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 40px auto 20px auto;
  border-radius: 50%;
  border: 4px solid var(--tk-background-color-container);
  box-shadow: var(--tk-shadow-both);
  cursor: pointer;
}
.tk__section__user__info__container .tk__user__container .tk__user__logo img {
  position: absolute;
  left: -4px;
  bottom: 5px;
  width: 120px;
  margin-bottom: 20px;
}
.tk__section__user__info__container .tk__user__container .tk__level__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  font-weight: 600;
}
.tk__section__user__info__container .tk__user__container .tk__level__container img {
  width: 20px;
}
.tk__section__user__info__container .tk__user__container .container__input__change__name {
  height: 0px;
  overflow: hidden;
}
.tk__section__user__info__container .tk__user__container .container__input__change__name input {
  width: 200px;
  padding: 10px;
  text-align: center;
}
.tk__section__user__info__container .tk__user__container .deploy__change__name {
  height: 65px;
  padding: 20px 5px 5px 5px;
}
.tk__section__user__info__container .tk__task__information__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container h2 {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  margin-top: -30px;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container p {
  font-size: 15px;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__today__container {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--tk-background-color-container);
  border: 5px solid var(--tk-background-color-container);
  box-shadow: var(--tk-shadow-container);
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__today,
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__next__level {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
  background-image: conic-gradient(#0089DC, 0deg, var(--tk-background-color-container) 0deg);
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px var(--tk-shadow-dark), -2px -2px 4px var(--tk-shadow-dark);
  background-color: var(--tk-background-color-container);
  text-align: center;
  font-style: italic;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__porcent,
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__porcent__next__level {
  width: 100%;
  font-size: 35px;
  margin-top: -15px;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__text__next__level {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__text__next__level p {
  font-weight: 600;
}
.tk__section__user__info__container .tk__task__information__container .tk__progress__bars__container .tk__progress__bar__text__next__level img {
  width: 20px;
}

main section .tk__line__between {
  width: 100%;
  height: 4px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: var(--tk-shadow-outside);
}

/*Media Queries ----------------------------------*/
@media screen and (max-width: 1150px) {
  #tk__section__notes .tk__section__notes__container .tk__section__notes__header__container .tk__section__notes__header {
    display: none;
  }
  .tk__section__user__info__container {
    transform: translateX(100%);
  }
  .tk__icono__user__info__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid var(--tk-background-color-container);
    box-shadow: var(--tk-shadow-both);
    background-color: var(--tk-background-color-container);
    z-index: 999;
  }
  .tk__icono__user__info__container img {
    width: 40px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 768px) {
  main .tk__icono__menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid var(--tk-background-color-container);
    box-shadow: var(--tk-shadow-both);
    background-color: var(--tk-background-color-container);
    z-index: 999;
  }
  main .tk__icono__menu__container img {
    width: 90%;
  }
  .tk__section_menu {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  .tk__section_menu .tk__section_menu__container {
    width: 230px;
  }
  .tk__section_menu .tk__section_menu__container .tk__note__priority,
  .tk__section_menu .tk__section_menu__container #tk__btn__tasks,
  .tk__section_menu .tk__section_menu__container #tk__btn__new__note,
  .tk__section_menu .tk__section_menu__container .tk__tools {
    font-size: 16px;
  }
}

/*# sourceMappingURL=taskkeeper.css.map */
