:root {
    --background-color-container: #181c1e;
    --background-color-main: #000000;
  
    --radius-main: 15px;
  
    --padding-container: 20px;
    --color-main: #fd6262;

    --border-color-main: #535353;
  }
  

 

  