.bc__section__presentation {
    min-height: 800px;
    height: 100vh;
    background-image: url(/Images/FondoPresentacion.webp);
    background-position: center;
    background-size: cover;

    &__container {

        &__text {
            max-width: 800px;
            margin-top: 200px;

            h1 {
                line-height: 80px;
            }

            h2 {
                max-width: 400px;
                padding: 20px 0 30px 0;
            }
        }
    }
}


/* Media Queries ----------------------------------------*/
@media screen and (max-width: 1024px){

    .bc__section__presentation__container{
        display: flex;
        justify-content: center;
        align-items: center;

        &__text{
            text-align: center;

            h2{
                margin: 0 auto;
            }
        }
    }
    
}