.bc__section__presentation {
    min-height: 800px;
    height: 100vh;
    background-image: url(../Images/FondoPresentacion.webp) !important;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    &__container {
        display: flex;
        align-items: center;

        &__text {
            max-width: 800px;

            h2 {
                max-width: 400px;
                padding: 20px 0 30px 0;
            }
        }
    }
}

/*Section Skills ----------------------------------------*/

.bc__section__skills {
    padding-bottom: 120px;

    &__container {
        &__text {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: -120px;
            border: 1px solid var(--border-color-main);
            background-color: var(--background-color-main);

            &__description {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                gap: 20px;
                width: 40%;
                padding: 80px 40px;
                border-right: 1px solid var(--border-color-main);
                background-image: url(../Images/background__skills.webp);
                background-size: cover;
                background-position: center;

                h2,
                p {
                    max-width: 350px;
                    z-index: 1;
                }

                .background__filter {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }

            &__skills {
                display: flex;
                justify-content: center;
                gap: 20px;
                width: 60%;
                padding: 20px;



                .bc__skills__container__group {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    width: 250px;

                    .bc__skill__container {
                        width: 250px;
                        padding: 20px;
                        border-radius: var(--radius-main);
                        background-color: var(--background-color-container);

                        img {
                            width: 40px;
                        }

                        h4 {
                            margin: 40px 0 20px 0;
                            color: #889ce7;
                        }

                        .skills__line {
                            width: 100%;
                            height: 3px;
                            margin-top: 20px;
                            border-radius: 5px;
                            background-color: var(--border-color-main);
                        }
                    }
                }

                .bc__skills__container__group__one {
                    margin: -100px 0;
                }

                .bc__skills__container__group__two {
                    align-content: center;
                }
            }
        }
    }
}

/*Section About -----------------------------------------*/

.bc__section__about {

    &__container {
        margin: 80px auto;

        &__text {
            display: flex;
            border: 1px solid var(--border-color-main);

            &__header {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                padding: 150px 20px;
                border-right: 1px solid var(--border-color-main);
                background-image: url(../Images/background__about.webp);
                background-size: cover;
                background-position: center;

                h2 {
                    z-index: 1;
                }

                .background__filter {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }

            &__description {
                width: 50%;
                padding: 80px 20px;

                &__container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    max-width: 400px;
                    margin: 0 auto;

                    button {
                        margin-top: 8px;
                    }
                }

            }
        }
    }
}

/*Section NUMBERS ---------------------------------------*/

.bc__section__our__numbers {
    position: relative;
    background-image: url(../Images/background__our__numbers.webp);
    background-size: cover;
    background-position: center bottom;


    &__container {
        min-height: 600px;
        margin: 80px auto;

        h2 {
            margin: 0px auto 60px auto;
            text-align: center;
        }

        &__numbers {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;

            .bc__container__number {
                width: 200px;
                text-align: center;
                z-index: 2;

                h1 {
                    color: var(--color-main);
                }

                .bc__numbers__line {
                    width: 100%;
                    margin-top: 20px;
                    border-radius: 5px;
                    border: 2px solid var(--border-color-main);
                }
            }
        }

    }

    .bc__section__our__numbers__gradient{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 300px;
        background-image: -webkit-linear-gradient(bottom, black, transparent);
    }
}

/* Section Portfolio ------------------------------------*/

.bc__section__portfolio{
  padding: 00px 30px 100px 30px;


  &__container{
    margin-top: -100px;
    z-index: 1;

     &__portfolio{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: black;
        border: 1px solid var(--border-color-main);
        z-index: 3;

        .bc__container__apps{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border-bottom: 1px solid var(--border-color-main);

            .bc__container__apps__title{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 200px;
            }
        }

        &__img__app{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            width: 60%;
            padding: 40px;
            border-right: 1px solid var(--border-color-main);

            img{
                width: 100%;
                border-radius: var(--radius-main);
                box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
            }
        }

        &__description__app{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            gap: 20px;
            width: 40%;
            padding: 20px;

            p{
                max-width: 500px;
            }
        }
     }
  }
}

/* Media Queries ----------------------------------------*/
@media screen and (max-width: 1024px) {

    .bc__section__presentation__container {
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
            margin: 0;
            text-align: center;

            h2 {
                margin: 0 auto;
            }

        }
    }

    /*Section SKILLS ---------------*/

    .bc__section__skills {
        &__container {

            &__text {

                &__description {
                    width: 100%;
                    padding: 120px;
                    border-right: none;
                    border-bottom: 1px solid var(--border-color-main);

                    h2,
                    p {
                        text-align: center;
                    }
                }

                &__skills {
                    flex-wrap: wrap;
                    width: 100%;
                    z-index: 1;

                }

            }
        }
    }

    /*Section OUR Numbers -----------*/
    .bc__section__our__numbers {

        &__container {

            &__numbers {

                .bc__container__number {

                    h1 {
                        font-size: 60px;
                        line-height: 65px;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 850px) {

    /*Section About ----------*/
    .bc__section__about {

        &__container {

            &__text {
                flex-wrap: wrap;

                &__header {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid var(--border-color-main);

                    h2 {
                        text-align: center;
                    }
                }

                &__description {
                    width: 100%;

                    &__container {
                        p {
                            text-align: center;
                        }

                        button {
                            margin: 8px auto 0px auto;
                        }
                    }

                }
            }
        }
    }

    /*Section Portfolio-------*/
    .bc__section__portfolio{
      
      
        &__container{
      
           &__portfolio{
      
              &__img__app{
                  width: 100%;
                  border-right: none;
                  border-bottom: 1px solid var(--border-color-main);

                  img{
                     border-radius: 8px;
                  }
              }
      
              &__description__app{
                  width: 100%;

                  p{
                    text-align: center;
                  }
              }
           }
        }
      }
}

@media screen and (max-width: 768px) {
    .bc__section__skills {
        &__container {

            &__text {

                &__description {
                    width: 100%;
                    padding: 100px 20px;

                    h2,
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    /*Section OUR Numbers--------*/
    .bc__section__our__numbers {
        min-height: 100vh;

        &__container {

            &__numbers {

                .bc__container__number {

                    h1 {
                        font-size: 60px;
                        line-height: 65px;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 639px) {
    #bc__section__skills {
        .bc__skills__container__group__one {
            margin-bottom: 0;
        }

        .bc__skills__container__group__two {
            margin-bottom: -100px;
        }
    }
}