.bc__section__menu {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    color: #ffffff;
    background-color: black;
    z-index: 999;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        .bc__container__logo {
            display: flex;
            align-items: center;

            .bc__logo__name {
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                font-weight: 700;
                font-style: italic;
            }

            img.bc__logo__img {
                height: 50px;
            }
        }

        .bc__navegation {
            display: flex;
            align-items: center;
            gap: 25px;


            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                transition: color .4s ease;
            }

            span:hover {
                color: var(--color-main);
            }
        }

        .bc__menu__icon {
            display: none;
        }
    }
}

footer#bc__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: black;

    small{
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
    }
}