@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 18px;
  color: #bababa;
  font-family: "Open Sans", sans-serif;
}

section {
  display: flex;
  padding: 0 40px;
}

.bc__section__menu {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  color: #ffffff;
  background-color: transparent;
}
.bc__section__menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.bc__section__menu__container .bc__container__logo {
  display: flex;
  align-items: center;
}
.bc__section__menu__container .bc__container__logo .bc__logo__name {
  font-family: "Montserrat", sans-serif !important;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
}
.bc__section__menu__container .bc__container__logo img.bc__logo__img {
  height: 50px;
}
.bc__section__menu__container .bc__navegation {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.bc__section__menu__container .bc__navegation span {
  cursor: pointer;
  transition: color 0.4s ease;
}
.bc__section__menu__container .bc__navegation span:hover {
  color: var(--color-main);
}
.bc__section__menu__container .bc__menu__icon {
  display: none;
}

.bc__section__container {
  width: 1800px;
  margin: 0 auto;
}

.bc__btn {
  padding: 18px 38px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid var(--color-main);
  background-color: var(--color-main);
  color: var(--background-color-main);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.4s ease;
}

.bc__btn:hover {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

/* Media Queries --------------------------------------*/
@media screen and (max-width: 1024px) {
  section {
    padding: 0 30px;
  }
  .bc__section__menu__container .bc__navegation {
    display: none;
  }
  .bc__section__menu__container .bc__menu__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    width: 30px;
    height: 25px;
    transition: all 0.4s ease;
  }
  .bc__section__menu__container .bc__menu__icon .bc__menu__line {
    width: 80%;
    height: 3px;
    background-color: white;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .bc__section__menu__container .bc__logo__name {
    display: none;
  }
}
:root {
  --background-color-container: #181c1e;
  --background-color-main: #000000;
  --radius-main: 15px;
  --padding-container: 20px;
  --color-main: #fd6262;
  --border-color-main: #535353;
}

.bc__section__presentation {
  min-height: 800px;
  height: 100vh;
  background-image: url(../Images/FondoPresentacion.webp) !important;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bc__section__presentation__container {
  display: flex;
  align-items: center;
}
.bc__section__presentation__container__text {
  max-width: 800px;
}
.bc__section__presentation__container__text h2 {
  max-width: 400px;
  padding: 20px 0 30px 0;
}

/*Section Skills ----------------------------------------*/
.bc__section__skills {
  padding-bottom: 120px;
}
.bc__section__skills__container__text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -120px;
  border: 1px solid var(--border-color-main);
  background-color: var(--background-color-main);
}
.bc__section__skills__container__text__description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 40%;
  padding: 80px 40px;
  border-right: 1px solid var(--border-color-main);
  background-image: url(../Images/background__skills.webp);
  background-size: cover;
  background-position: center;
}
.bc__section__skills__container__text__description h2,
.bc__section__skills__container__text__description p {
  max-width: 350px;
  z-index: 1;
}
.bc__section__skills__container__text__description .background__filter {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
.bc__section__skills__container__text__skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 60%;
  padding: 20px;
}
.bc__section__skills__container__text__skills .bc__skills__container__group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 250px;
}
.bc__section__skills__container__text__skills .bc__skills__container__group .bc__skill__container {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--background-color-container);
}
.bc__section__skills__container__text__skills .bc__skills__container__group .bc__skill__container img {
  width: 40px;
}
.bc__section__skills__container__text__skills .bc__skills__container__group .bc__skill__container h4 {
  margin: 40px 0 20px 0;
  color: #889ce7;
}
.bc__section__skills__container__text__skills .bc__skills__container__group .bc__skill__container .skills__line {
  width: 100%;
  height: 3px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--border-color-main);
}
.bc__section__skills__container__text__skills .bc__skills__container__group__one {
  margin-top: -100px;
}
.bc__section__skills__container__text__skills .bc__skills__container__group__two {
  margin-bottom: -100px;
}

/* Media Queries ----------------------------------------*/
@media screen and (max-width: 1024px) {
  .bc__section__presentation__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bc__section__presentation__container__text {
    margin: 0;
    text-align: center;
  }
  .bc__section__presentation__container__text h2 {
    margin: 0 auto;
  }
  /*Section SKILLS ---------------*/
  .bc__section__skills__container__text__description {
    width: 100%;
    padding: 120px;
    border-right: none;
    border-bottom: 1px solid var(--border-color-main);
  }
  .bc__section__skills__container__text__skills {
    width: 100%;
    z-index: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
